<!DOCTYPE html>
<html>
  <head>
    <title>Shopex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

   <%= render 'shared/top_header' %>

    <div class="container text-center">
      <div class="logo">
        <%= link_to root_path do %>
          <h1>ShopEX</h1>
        <%end%>
      </div>
    </div>
  <div class="toast-container position-fixed top-3 end-0 p-3">
    <%= turbo_frame_tag id="flash-messages" do%>
      <%= render 'shared/flash' %>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
